body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 15px;
    width: 320px;
    font-size: 15px;
    background-color: rgb(241, 241, 241)
}

h3,
h4 {
    text-align: center;
}

.div-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.div-2-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.div-2-label-abas {
    width: 100%;
    font-size: 15px;
}

#url-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.input-tempo {
    width: 10%;
}

textarea,
input {
    width: 25%;
    /* height: 80%; */
    /* padding: 6px; */
    /* margin-top: 4px; */
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background: #0066ff;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background: #004ecc;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
}

input:checked+.slider {
    background-color: #4caf50;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider:before {
    transform: translateX(20px);
}


.url-item {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 8px;
}

.url-input {
    flex: 1;
}

.reload-input {
    width: 60px;
}

.remove-btn {
    background: #ff4d4d;
    border: none;
    padding: 4px 8px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.remove-btn:hover {
    background: #cc0000;
}

.seg-label {
    font-size: 12px;
    opacity: 0.7;
}